body {
  font-family: 'Nunito', sans-serif;
 
    color: #1e1666;
  }
  
  a {
    color: #1e1666;
    text-decoration: none;
  }
  
  a:hover {
    color: #1e1666;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
    
  }
  
  /*--------------------------------------------------------------
  # Preloader
  --------------------------------------------------------------*/
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #319e8d;
    border-top-color: #e2eefd;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }
  
  @-webkit-keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #1e1666;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
  }
  .back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
  }
  .back-to-top:hover {
    background: #319e8d;
    color: #fff;
  }
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }
  
  /*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  /*--------------------------------------------------------------
  # Top Bar
  --------------------------------------------------------------*/
  #topbar {
    background: #319e8d;
    height: 40px;
    font-size: 14px;
    transition: all 0.5s;
    color: #fff;
    padding: 0;
  }
  #topbar .contact-info i {
    font-style: normal;
    color: #fff;
  }
  #topbar .contact-info i a, #topbar .contact-info i span {
    padding-left: 5px;
    color: #fff;
  }
  #topbar .contact-info i a {
    line-height: 0;
    transition: 0.3s;
    transition: 0.3s;
  }
  #topbar .contact-info i a:hover {
    color: #fff;
    text-decoration: underline;
  }
  #topbar .social-links a {
    color: rgba(255, 255, 255, 0.7);
    line-height: 0;
    transition: 0.3s;
    margin-left: 20px;
  }
  #topbar .social-links a:hover {
    color: white;
  }
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    height: 86px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  #header.fixed-top {
    height: 70px;
  }
  #header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 0.8px;
    font-family: "Poppins", sans-serif;
  }
  #header .logo a {
    color: #222222;
  }
  #header .logo a span {
    color: #319e8d;
  }
  #header .logo img {
    max-height: 40px;
  }
  
  .scrolled-offset {
    margin-top: 70px;
  }
  
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation
  */
  .navbar {
    padding: 0;
  }
  
  .navbar ul {
    position: relative;
    display: flex;
    justify-content: center;
    width: 1170px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #1e1666;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .navbar a:hover:before,
  .navbar li:hover>a:before,
  .navbar .active:before {
    visibility: visible;
    width: 100%;
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #1e1666;
  }
  
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: -364px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    margin-top: 30px;
  }
  
  .navbar .dropdown .nav-drowdrop p {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-weight: 400;
  }
  
  .navbar .nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #1e1666;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
  }
  
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: #1e1666;
  }
  
  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  
  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    right: auto;
    visibility: visible;
  }
  
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
  
    .navbar .dropdown .dropdown:hover>ul {
      left: -100%;
    }
  }
  
  .navbar .dropdown .dropdown .mega-menu {
    width: 1000px;
    overflow: hidden;
    padding: 10px;
  }
  
  .navbar .dropdown .dropdown .mega-menu a {
    text-decoration: none;
  }
  
  .navbar .dropdown .dropdown .mega-menu .sub-menu-heading {
    color: #1e1666;
  
  }
  
  @media(max-width:500px) {
    .navbar .dropdown .dropdown .mega-menu {
      width: 250px;
    }
  }
  
  /**
  * Mobile Navigation
  */
  .mobile-nav-toggle {
    color: #222222;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }
  .mobile-nav-toggle.bi-x {
    color: #fff;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
  
    .navbar ul {
      display: none;
    }
  }
  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(9, 9, 9, 0.9);
    transition: 0.3s;
    z-index: 999;
  }
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }
  .navbar-mobile a, .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #222222;
  }
  .navbar-mobile > ul > li {
    padding: 0;
  }
  .navbar-mobile a:hover:before, .navbar-mobile li:hover > a:before, .navbar-mobile .active:before {
    visibility: hidden;
  }
  .navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
    color: #319e8d;
  }
  .navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
    margin: 15px;
  }
  .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }
  .navbar-mobile .dropdown ul li {
    min-width: 200px;
  }
  .navbar-mobile .dropdown ul a {
    padding: 10px 20px;
  }
  .navbar-mobile .dropdown ul a i {
    font-size: 12px;
  }
  .navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
    color: #319e8d;
  }
  .navbar-mobile .dropdown > .dropdown-active {
    display: block;
  }
  
  
  .info-about{
    width: auto;  
    text-align: center;
    padding: 10px 20px 10px 25px ;
    border-radius: 30px;
    color: #fff;
    transition: none;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    transition: 0.3s;
    background-image: linear-gradient(to right,#0d6d91 0%,#20e3b2 51%,#0d6d91 100%); 
  }
  .info-about .btn-link-about {
    text-decoration: none;
    color: white !important;
    text-align: center;
  }
  
  .a.page-about{
    background-image: url("http://ailab.jwsthemeswp.com/wp-content/uploads/2020/03/background-banner.jpg");
  }

  .breadcrumbs{
    padding-top: 88px;
    padding-right: 0px;
    padding-bottom: 88px;
    padding-left: 0px;
    background-image: url("http://ailab.jwsthemeswp.com/wp-content/uploads/2020/03/background-banner.jpg");
  }

  .breadcrumbs .text-about h2{
    line-height: 56px;
    font-weight: 800;
    font-style: normal;
    font-size: 48px;
  }

  .breadcrumbs .jws-path-inner{
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    font-weight: 400;
  }

  .info-about3{
    margin-top: 5px;
    margin-left: 5rem;
    width: 100%;  
    text-align: center;
    padding: 5px ;
    border-radius: 30px;
    color: #319e8d;
    transition: none;
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    transition: 0.3s;
  }
  .info-about3 .btn-link-about3 {
    text-decoration: none;
    color: #319e8d !important;
    text-align: center;
  }
  .info-about3 .btn-link-about3 .icon-about {
    margin-right: 5px;
  }

  .mt-5 {
    margin-top: 7rem !important;
  }

.main-timeline {
    background-color: #f4f8ff;
    background-image: url("http://ailab.jwsthemeswp.com/wp-content/uploads/2020/05/about-timeline.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin-top: 7rem;
  }
  
  .main-timeline {
    position: relative;
}

.main-timeline .time-line-text{
  margin-top: 6px;
}

.time-line-text h2{
  text-align: center;
  color: #1e1666;
  font-size: 40px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 3px;
  display: block;
  padding: 0;
  margin: 0;
}

 .time-line-text p{
  text-align: center;
  color: #57647c !important;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
} 

.describe-time-line p{
  color: #57647c !important;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
}


.main-timeline:before {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: #319e8d;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.main-timeline .timeline {
    margin-bottom: 40px;
    position: relative
}

.main-timeline .timeline:after {
    content: "";
    display: block;
    clear: both
}

.main-timeline .icon {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.main-timeline .icon:before,
.main-timeline .icon:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.33s ease-out 0s
}

.main-timeline .icon:before {
    background: #fff;
    border: 2px solid #319e8d;
    left: -3px
}

.main-timeline .icon:after {
    border: 2px solid #2E8B57;
    left: 3px
}

.main-timeline .timeline:hover .icon:before {
    left: 3px
}

.main-timeline .timeline:hover .icon:after {
    left: -3px
}

.main-timeline .date-content {
    width: 50%;
    float: left;
    margin-top: 22px;
    position: relative
}

.main-timeline .date-content:before {
    content: "";
    width: 36.5%;
    height: 2px;
    background: #2E8B57;
    margin: auto 0;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0
}

.main-timeline .date-outer {
    width: 125px;
    height: 125px;
    font-size: 16px;
    text-align: center;
    margin: auto;
    z-index: 1
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
    content: "";
    width: 125px;
    height: 125px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.33s ease-out 0s
}

.main-timeline .date-outer:before {
    background: #fff;
    border: 2px solid #319e8d;
    left: -6px
}

.main-timeline .date-outer:after {
    border: 2px solid #2E8B57;
    left: 6px
}

.main-timeline .timeline:hover .date-outer:before {
    left: 6px
}

.main-timeline .timeline:hover .date-outer:after {
    left: -6px
}

.main-timeline .date {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 27%;
    left: 0
}

.main-timeline .month {
    font-size: 18px;
    font-weight: 700
}

.main-timeline .year {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #232323;
    line-height: 36px
}

.main-timeline .timeline-content {
    width: 50%;
    padding: 20px 0 20px 50px;
    float: right
}

.main-timeline .title {
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 15px 0
}

.main-timeline .description {
    margin-bottom: 0
}

.main-timeline .timeline:nth-child(2n) .date-content {
    float: right
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
    left: 10px
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 20px 50px 20px 0;
    text-align: right
}

@media only screen and (max-width: 991px) {
    .main-timeline .date-content {
        margin-top: 35px
    }
    .main-timeline .date-content:before {
        width: 22.5%
    }
    .main-timeline .timeline-content {
        padding: 10px 0 10px 30px
    }
    .main-timeline .title {
        font-size: 17px
    }
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        padding: 10px 30px 10px 0
    }
}

@media only screen and (max-width: 767px) {
    .main-timeline:before {
        margin: 0;
        left: 7px
    }
    .main-timeline .timeline {
        margin-bottom: 20px
    }
    .main-timeline .timeline:last-child {
        margin-bottom: 0
    }
    .main-timeline .icon {
        margin: auto 0
    }
    .main-timeline .date-content {
        width: 95%;
        float: right;
        margin-top: 0
    }
    .main-timeline .date-content:before {
        display: none
    }
    .main-timeline .date-outer {
        width: 110px;
        height: 110px
    }
    .main-timeline .date-outer:before,
    .main-timeline .date-outer:after {
        width: 110px;
        height: 110px
    }
    .main-timeline .date {
        top: 30%
    }
    .main-timeline .year {
        font-size: 24px
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        width: 95%;
        text-align: center;
        padding: 10px 0
    }
    .main-timeline .title {
        margin-bottom: 10px
    }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #fff;
  padding: 0 0 30px 0;
  font-size: 14px;
  background: #f1f6fe;
}

#footer .footer-newsletter {
  background-image: url(http://ailab.jwsthemeswp.com/wp-content/uploads/2020/03/F11.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 57px 0;
}

#footer .footer-newsletter h5 {
  color: #222222
}

#footer .footer-newsletter p {
  margin-top: 0;
  margin-bottom: 6rem;
}

#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
  text-align: left;
}

#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #319e8d;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type=submit]:hover {
  background: #319e8d;
}

#footer .footer-top {
  margin-top: -1px;
  padding: 60px 0 30px 0;
  background: #1d225f;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 24px;
  margin: 0 0 15px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  color: #ccf !important;
}

#footer .footer-top .footer-contact h3 span {
  color: #ccf !important;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: 'Nunito', sans-serif;
  color: #ccf !important;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #ccf !important;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #ccf !important;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #ccf !important;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #319e8d;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #8383b7;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #8383b7;
  color: #fff;
  text-decoration: none;
}
#footer .footer-top p {
  color: #ccf !important;
}

#footer .copyright {
  text-align: center;
  float: left;
  color: #ccf;
}

#footer .credits {
  float: right;
  text-align: center;
  font-size: 13px;
  color: #ccf !important;
}

#footer .row {
  display: flex;
  justify-content: center;

}

@media (max-width: 768px) {

  #footer .copyright,
  #footer .credits {
    float: none;
    text-align: center;
    padding: 2px 0;
  }
}
  
  .section_our_solution .row {
    align-items: center;
  }
  
  .our_solution_category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .our_solution_category .solution_cards_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .solution_cards_box .solution_card {
    flex: 0 50%;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
      0 5px 15px 0 rgba(37, 44, 97, 0.15);
    border-radius: 15px;
    margin: 8px;
    padding: 10px 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-height: 265px;
    transition: 0.7s;
  }
  
  .solution_cards_box .solution_card:hover {
    background: #319e8d;
    color: #fff;
    transform: scale(1.1);
    z-index: 9;
  }
  
  .solution_cards_box .solution_card:hover::before {
    background: rgb(85 108 214 / 10%);
  }
  
  .solution_cards_box .solution_card:hover .solu_title h3,
  .solution_cards_box .solution_card:hover .solu_description p {
    color: #fff;
  }
  
  .solution_cards_box .solution_card:before {
    content: "";
    position: absolute;
    background: rgb(85 108 214 / 5%);
    width: 170px;
    height: 400px;
    z-index: -1;
    transform: rotate(42deg);
    right: -56px;
    top: -23px;
    border-radius: 35px;
  }
  
  .solution_cards_box .solution_card:hover .solu_description button {
    background: #fff !important;
    color: #319e8d;
  }
  
  .solution_card .solu_title h3 {
    color: #212121;
    font-size: 1.3rem;
    margin-top: 13px;
    margin-bottom: 13px;
  }
  
  .solution_card .solu_description p {
    font-size: 15px;
    margin-bottom: 15px;
  }
  
  .solution_card .solu_description button {
    border: 0;
    border-radius: 15px;
    background: linear-gradient(
      140deg,
      #42c3ca 0%,
      #42c3ca 50%,
      #42c3cac7 75%
    ) !important;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 16px;
  }
  
  .our_solution_content h1 {
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }
  
  .hover_color_bubble {
    position: absolute;
    background: rgb(54 81 207 / 15%);
    width: 100rem;
    height: 100rem;
    left: 0;
    right: 0;
    z-index: -1;
    top: 16rem;
    border-radius: 50%;
    transform: rotate(-36deg);
    left: -18rem;
    transition: 0.7s;
  }
  
  .solution_cards_box .solution_card:hover .hover_color_bubble {
    top: 0rem;
  }
  
  .solution_cards_box .solution_card .so_top_icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .solution_cards_box .solution_card .so_top_icon img {
    width: 40px;
    height: 50px;
    object-fit: contain;
  }
  
  
  /*start media query*/
  @media screen and (min-width: 320px) {
    .sol_card_top_3 {
      position: relative;
      top: 0;
  }
  
  .our_solution_category {
      width: 100%;
      margin: 0 auto;
  }
  
  .our_solution_category .solution_cards_box {
      flex: auto;
  }
  
  @media only screen and (min-width: 768px) {
    .our_solution_category .solution_cards_box {
      flex: 1;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .sol_card_top_3 {
      position: relative;
      top: -3rem;
    }
    .our_solution_category {
      width: 80%;
      height: 50%;
      margin: 0 auto;
    }
  }}


  @keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
      transform: translatey(-20px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
  }

  .about-time-line .container-time-line .main-timeline{
    background-image: url("http://ailab.jwsthemeswp.com/wp-content/uploads/2020/07/shapes.svg");
    background-repeat: no-repeat;
  }

 /* .about-company .container1 .infor-img{

    background-image: url("http://ailab.jwsthemeswp.com/wp-content/uploads/2020/07/shapes.svg");
    background-repeat: no-repeat;
    width: 869px;
    height: 317px;
    background-position: top left;
    background-size: cover;
  }

  .about-company .container1 .move-img{
    vertical-align: middle;
    display: inline-block;
    width: 400px;
    height: 400px;
    overflow: hidden;
  }

  .about-img {
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
    height: auto;
    max-width: 100%;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: inline-block;
  } */

  .about2-content-left{
    margin-top: 13%;
                  
  }

  .about2-content-left{
    background-image: url(""); 
  }

  .content-width {
    width: 86%;
    height: 100vh;
    margin: 0 auto;
  }
  
  .slideshow {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .slideshow-items {
    position: relative;
    width: 100%;
    height: 300px;
  }
  
  .item {
    position: absolute;
    width: 100%;
    height: auto;
  }
  
  .item-image-container {
    position: relative;
    width: 42%;
  }
  
  .item-image-container::before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 101%;
    height: 101%;
    background: #22222A;
    opacity: 0;
    z-index: 1;
  }
  
  .item-image {
    position: relative;
    width: 100%;
    height: auto;
    opacity: 0;
    display: block;
    /* transition: property name | duration | timing-function | delay  */
    transition: opacity .3s ease-out .45s;
  }
  
  .item.active .item-image {
    opacity: 1;
  }
  
  .item.active .item-image-container::before {
    opacity: .8;
  }
  
  .item-description {
    position: absolute;
    top: 182px;
    right: 0;
    width: 50%;
    padding-right: 4%;
    line-height: 1.8;
  }
  
  /* Staggered Vertical Items ------------------------------------------------------*/
  .item-header {
    position: absolute;
    top: 150px;
    left: -1.8%;
    z-index: 100;
  }
  
  .item-header .vertical-part {
    margin: 0 -4px;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: auto;
    font-size: 7vw;
    color: #fff;
  }
  
  .vertical-part {
    overflow: hidden;
    display: inline-block;
  }
  
  .vertical-part b {
    display: inline-block;
    transform: translateY(100%);
  }
  
  .item-header .vertical-part b {
    transition: .5s;
  }
  
  .item-description .vertical-part b {
    transition: .21s;
  }
  
  .item.active .item-header .vertical-part b {
    transform: translateY(0);
  }
  
  .item.active .item-description .vertical-part b {
    transform: translateY(0);
  }
  
  /* Controls ----------------------------------------------------------------------*/
  .controls {
    position: relative;
    text-align: right;
    z-index: 1000;
  }
  
  .controls ul {
    list-style: none;
  }
  
  .controls ul li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 3px;
    background:#bdbdd5;;
    cursor: pointer;
  }
  
  .controls ul li.active {
    background:#6a6a77;;
  }
  
  
  .content-about-button{
    width: 185px;
    text-align: center;
    padding: 13px 20px 13px 25px;
    border-radius: 10px;
    color: #fff;
    transition: none;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    transition: 0.3s;
    background-image: linear-gradient(to right,#0d6d91 0%,#20e3b2 51%,#0d6d91 100%); 
  }
  .content-about-button .btn-infor-company{
    text-decoration: none;
    color: white !important;
    text-align: center;
  }

  .intelligence-human-img .img-human{
    margin-left: 2rem;
  }

  .counts {
    background-image: url("https://wissfvkhanh.000webhostapp.com/counts-bg.jpg");
    background-size: cover;
    padding: 80px 0 60px 0;
    position: relative;
  }
  
  .counts::before {
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .counts .title {
    position: relative;
    color: #0f394c;
    margin-bottom: 40px;
  }
  
  .counts .title h3 {
    font-size: 36px;
    font-weight: 700;
  }
  
  .counts .counters span {
    font-size: 44px;
    font-weight: 700;
    display: block;
    color: #49b5e7;
    font-family: "Dosis", sans-serif;
  }
  
  .counts .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 15px;
    color: #444444;
  }
  
  @media (min-width: 1200px) {
    .counts {
      background-attachment: fixed;
    }
  }

.progress_bar .pro-bar {
  background: hsl(0, 0%, 97%);
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.1) inset;
  height:4px;
  margin-bottom: 12px;
  margin-top: 50px;
  position: relative;
}
.progress_bar .progress_bar_title{
  color: hsl(218, 4%, 50%);
  font-size: 15px;
  font-weight: 300;
  position: relative;
  top: -28px;
  z-index: 1;
}
.progress_bar .progress_number{
  float: right;
  margin-top: -24px;
}
.progress_bar .progress-bar-inner {
  background-color: hsl(0, 0%, 88%);
  display: block;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 1s linear 0s;
}
.progress_bar .progress-bar-inner:before {
  content: "";
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
  width: 4px;
  height: 4px;
  position: absolute;
  right: 1px;
  top: 0;
  z-index: 1;
}
.progress_bar .progress-bar-inner:after {
  content: "";
  width: 14px;
  height: 14px;
  background-color: inherit;
  border-radius: 50%;
  position: absolute;
  right: -4px;
  top: -5px;
}
.count-infor .container {
  margin-top: 6rem;
}

.site-logo {
  width: 218.33px !important;
  margin-right: 50px;
}
.btn {
  border-radius: 5px;
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 0.02em;
  line-height: 12px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  padding: 14px 30px;
  cursor: pointer;
}
.btn-theme {
  background: var(--theme-color1);
  color: #212121;
}

.c-container {
   margin: auto;
   width: 93%;
   position: relative;
   z-index: 1;
}

.btn-outline-white {
   color: #fff;
   background-color: rgba(255, 255, 255, 0.1);
   background-image: none;
   border-width: 2px;
   border-color: #fff;
   font-weight: 500;
   -webkit-transition: all .2s;
   transition: all .2s;
}
.btn {
   border-radius: 5px;
   font-weight: normal;
   font-size: 15px;
   letter-spacing: 0.02em;
   line-height: 12px;
   text-align: center;
   font-weight: 600;
   font-size: 14px;
   padding: 14px 30px;
   cursor: pointer;
}
.btn-outline-white:hover {
   background-color: #fff;
   color: var(--text-dark);
}
/* common css up */
/* test */
.section-eight{padding: 40px 0 0px 0;margin-top: 130px;position: relative;}
	.op-eight-section{position: relative;}
	.sec-eight-text-area{text-align: center;padding: 100px 0 240px;}
	.sec-eight-text-area img{padding: 2vh 0;}
	.sec-eight-text-area h1{padding: 2vh 0 3vh 0;color: #434C57;
    line-height: 1.3;
    font-size: 40px;
    font-family: amaticSC;
    letter-spacing: 2px;
    padding-bottom: 30px;}
	.sec-eight-text-area p{padding: 2vh 0;font-size: 14px;line-height: 1.6;color: #434C57;font-family: mavenpro;}
	.section-eight .container-pe-quote {position: absolute;height: 100%;top: 0px;z-index: 1;}
	.section-eight .container-pe-quote.left {left: 0px;}
	.section-eight .container-pe-quote.right {right: 0px;}
	.section-eight .container-pe-quote .pp-quote {
	    cursor: pointer;
	    position: absolute;
	    border-radius: 100%;
	    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
	    animation-name: floating;
	    -webkit-animation-name: floating;
	    animation-iteration-count: infinite;
	    -webkit-animation-iteration-count: infinite;
	    -webkit-animation-timing-function: linear;
	    animation-timing-function: linear;
	    -webkit-transform-origin: 50% 1px;
	    -moz-transform-origin: 50% 1px;
	    -ms-transform-origin: 50% 1px;
	    -o-transform-origin: 50% 1px;
	    transform-origin: 50% 1px;
	    opacity: 0;
	    -webkit-transition: all 2s ease;
	    -moz-transition: all 2s ease;
	    -ms-transition: all 2s ease;
	    -o-transition: all 2s ease;
	    transition: all 2s ease;
	}
	.container-pe-quote .pp-quote img {
	    overflow: hidden;
	    border-radius: 100%;
	    height: 100%;
	    width: 100%;	    
	    position: relative;
	    z-index: 1;
	}
	.section-eight .container-pe-quote .pp-quote:after {
	    content: '';
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    height: calc(100% + 5px);
	    width: calc(100% + 5px);
	    border-radius: 100%;
	    background-color: #7fb3e4;
	    -webkit-transform: translate(-50%, -50%) scale(0.9);
	    -moz-transform: translate(-50%, -50%) scale(0.9);
	    -ms-transform: translate(-50%, -50%) scale(0.9);
	    -o-transform: translate(-50%, -50%) scale(0.9);
	    transform: translate(-50%, -50%) scale(0.9);
	    -webkit-transition: all .25s ease;
	    -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	    -o-transition: all .25s ease;
	    transition: all .25s ease;
	}
	.container-pe-quote .pp-quote:hover:after, .container-pe-quote .pp-quote.active:after {
	    -webkit-transform: translate(-50%, -50%) scale(1);
	    -moz-transform: translate(-50%, -50%) scale(1);
	    -ms-transform: translate(-50%, -50%) scale(1);
	    -o-transform: translate(-50%, -50%) scale(1);
	    transform: translate(-50%, -50%) scale(1);
	}
	.section-eight .container-pe-quote .li-quote-1 {
	    height: 104px;
	    width: 104px;
	    left: 15px;
	    top: 95px;
	    animation-duration: 10s;
	    -webkit-animation-duration: 10s;
	    -webkit-transition-delay: 0.6s;
	    transition-delay: 0.6s;
	    opacity: 1;
	}
	.section-eight .container-pe-quote .li-quote-2 {
	    height: 63px;
	    width: 63px;
	    left: 120px;
	    top: 270px;
	    animation-duration: 12s;
	    -webkit-animation-duration: 12s;
	    -webkit-transition-delay: 0s;
	    transition-delay: 0s;
	    opacity: 1;
	}
	.section-eight .container-pe-quote .li-quote-3 {
	    height: 64px;
	    width: 64px;
	    left: 68px;
	    top: 380px;
	    animation-duration: 6s;
	    -webkit-animation-duration: 6s;
	    -webkit-transition-delay: 0.2s;
	    transition-delay: 0.2s;
	    opacity: 1;
	}
	.section-eight .container-pe-quote .li-quote-4 {
	    height: 73px;
	    width: 73px;
	    right: -15px;
	    top: 110px;
	    animation-duration: 5s;
	    -webkit-animation-duration: 5s;
	    -webkit-transition-delay: 0.7s;
	    transition-delay: 0.7s;
	    opacity: 1;
	}
	.section-eight .container-pe-quote .li-quote-5 {
	    height: 73px;
	    width: 73px;
	    right: 28px;
	    top: 265px;
	    animation-duration: 8s;
	    -webkit-animation-duration: 8s;
	    -webkit-transition-delay: 0.4s;
	    transition-delay: 0.4s;
	    opacity: 1;
	}
	.section-eight .container-pe-quote .li-quote-6 {
	    height: 45px;
	    width: 45px;
	    right: 108px;
	    top: 170px;
	    animation-duration: 7s;
	    -webkit-animation-duration: 7s;
	    -webkit-transition-delay: 0.2s;
	    transition-delay: 0.2s;
	    opacity: 1;
	}
	.section-eight .container-pe-quote .li-quote-7 {
	    height: 48px;
	    width: 48px;
	    right: 40px;
	    top: 414px;
	    animation-duration: 7s;
	    -webkit-animation-duration: 7s;
	    -webkit-transition-delay: 0.3s;
	    transition-delay: 0.3s;
	    opacity: 1;
	}
	.section-eight .container-pe-quote .li-quote-8 {
	    height: 63px;
	    width: 63px;
	    left: 20px;
	    top: 250px;
	    animation-duration: 5s;
	    -webkit-animation-duration: 5s;
	    -webkit-transition-delay: 0s;
	    transition-delay: 0s;
	    opacity: 1;
	}

@keyframes floating{

	0% {
	    -webkit-transform: rotate(0deg) translate(-10px) rotate(0deg);
	    -moz-transform: rotate(0deg) translate(-10px) rotate(0deg);
	    -ms-transform: rotate(0deg) translate(-10px) rotate(0deg);
	    -o-transform: rotate(0deg) translate(-10px) rotate(0deg);
	    transform: rotate(0deg) translate(-10px) rotate(0deg);
	}
	100% {
	    -webkit-transform: rotate(360deg) translate(-10px) rotate(-360deg);
	    -moz-transform: rotate(360deg) translate(-10px) rotate(-360deg);
	    -ms-transform: rotate(360deg) translate(-10px) rotate(-360deg);
	    -o-transform: rotate(360deg) translate(-10px) rotate(-360deg);
	    transform: rotate(360deg) translate(-10px) rotate(-360deg);
	}

}
@-webkit-keyframes floating{

	0% {
	    -webkit-transform: rotate(0deg) translate(-10px) rotate(0deg);
	    -moz-transform: rotate(0deg) translate(-10px) rotate(0deg);
	    -ms-transform: rotate(0deg) translate(-10px) rotate(0deg);
	    -o-transform: rotate(0deg) translate(-10px) rotate(0deg);
	    transform: rotate(0deg) translate(-10px) rotate(0deg);
	}
	100% {
	    -webkit-transform: rotate(360deg) translate(-10px) rotate(-360deg);
	    -moz-transform: rotate(360deg) translate(-10px) rotate(-360deg);
	    -ms-transform: rotate(360deg) translate(-10px) rotate(-360deg);
	    -o-transform: rotate(360deg) translate(-10px) rotate(-360deg);
	    transform: rotate(360deg) translate(-10px) rotate(-360deg);
	}

}

.section-eight .container-quote {
    position: relative;
    width: 100%;
    margin-top: 10px;
    height: 135px;
    -webkit-perspective: 10000px;
    -moz-perspective: 10000px;
    -ms-perspective: 10000px;
    perspective: 10000px;
}
.section-eight .container-quote .quote {
    max-width: 520px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 50%;
    cursor: pointer;
    text-align: center;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
    -moz-transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
    -o-transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
    transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
}
	.section-eight .container-quote .quote.hide-bottom {
	    opacity: 0;
	    -webkit-transform: translateX(-50%) translateY(100%) rotateX(-70deg);
	    -moz-transform: translateX(-50%) translateY(100%) rotateX(-70deg);
	    -ms-transform: translateX(-50%) translateY(100%) rotateX(-70deg);
	    -o-transform: translateX(-50%) translateY(100%) rotateX(-70deg);
	    transform: translateX(-50%) translateY(100%) rotateX(-70deg);
	}
	.section-eight .container-quote .quote.hide-top {
	    opacity: 0;
	    -webkit-transform: translateX(-50%) translateY(-100%) rotateX(70deg);
	    -moz-transform: translateX(-50%) translateY(-100%) rotateX(70deg);
	    -ms-transform: translateX(-50%) translateY(-100%) rotateX(70deg);
	    -o-transform: translateX(-50%) translateY(-100%) rotateX(70deg);
	    transform: translateX(-50%) translateY(-100%) rotateX(70deg);
	}
	.section-eight .container-quote .quote.show {
	    opacity: 1;
	    -webkit-transform: translateX(-50%) translateY(0%) rotateX(0deg);
	    -moz-transform: translateX(-50%) translateY(0%) rotateX(0deg);
	    -ms-transform: translateX(-50%) translateY(0%) rotateX(0deg);
	    -o-transform: translateX(-50%) translateY(0%) rotateX(0deg);
	    transform: translateX(-50%) translateY(0%) rotateX(0deg);
	}


	.section-eight .container-dp-name {
	    position: relative;
	    width: 100%;
	    margin-top: 10px;
	    height: 225px;
	    -webkit-perspective: 10000px;
	    -moz-perspective: 10000px;
	    -ms-perspective: 10000px;
		perspective: 10000px;text-align: center;
	}
	.section-eight .container-dp-name .box-dpname {
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    top: 0px;
	    left: 0;
	    cursor: pointer;
	    text-align: center;
	    -webkit-transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
	    -moz-transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
	    -o-transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
	    transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
	}
	.section-eight .container-dp-name .box-dpname.hide-dp-bottom {
	    opacity: 0;
	    -webkit-transform: translateX(0%) translateY(100%) rotateX(-70deg);
	    -moz-transform: translateX(0%) translateY(100%) rotateX(-70deg);
	    -ms-transform: translateX(0%) translateY(100%) rotateX(-70deg);
	    -o-transform: translateX(0%) translateY(100%) rotateX(-70deg);
	    transform: translateX(0%) translateY(100%) rotateX(-70deg);
	}
	.section-eight .container-dp-name .box-dpname.hide-dp-top {
	    opacity: 0;
	    -webkit-transform: translateX(0%) translateY(-100%) rotateX(70deg);
	    -moz-transform: translateX(0%) translateY(-100%) rotateX(70deg);
	    -ms-transform: translateX(0%) translateY(-100%) rotateX(70deg);
	    -o-transform: translateX(0%) translateY(-100%) rotateX(70deg);
	    transform: translateX(0%) translateY(-100%) rotateX(70deg);
	}
	.section-eight .container-dp-name .box-dpname.look {
	    opacity: 1;
	    -webkit-transform: translateX(0%) translateY(0%) rotateX(0deg);
	    -moz-transform: translateX(0%) translateY(0%) rotateX(0deg);
	    -ms-transform: translateX(0%) translateY(0%) rotateX(0deg);
	    -o-transform: translateX(0%) translateY(0%) rotateX(0deg);
	    transform: translateX(0%) translateY(0%) rotateX(0deg);
	}

@media screen and (max-width:767px){
  .sec-eight-text-area{    padding: 10px 0 10px 0;}
  .section-eight .container-pe-quote{position: relative;height: 500px;top: 0px;z-index: 1;max-width: 300px;margin: -70px auto 0;}
}
@media screen and (max-width:480px){
  .section-eight{position: relative;}
	.section-eight .bottom-ani-cs{    position: absolute;top: 150px;right: 16px;}	
	.section-eight .container-pe-quote .li-quote-2 {left: 60px;top: 270px;}
	.section-eight .container-pe-quote .li-quote-6 { right: 100px;top: 179px;}
	.section-eight .container-pe-quote .li-quote-8 {height: 43px;width: 43px;left: 0px;top: 220px;}
	.section-eight .container-pe-quote .li-quote-3{left: 0;}
	.section-eight .container-quote{height: 205px;overflow: hidden;overflow-y: auto;}
	.sec-eight-text-area{padding: 10px 0 100px 0;}
}
/* end test */

.container-timeline {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  flex-direction: column;
}

.title {
  font-size: 38px;
  color: #616161;
  font-style: italic;
  font-weight: 800;
}

.timeline {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.2);
}
.timeline .swiper-container {
  height: 600px;
  width: 100%;
  position: relative;
}
.timeline .swiper-wrapper {
  transition: 2s cubic-bezier(0.68, -0.4, 0.27, 1.34) 0.2s;
}
.timeline .swiper-slide {
  position: relative;
  color: #fff;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.timeline .swiper-slide::after {
  content: "";
  position: absolute;
  z-index: 1;
  right: -115%;
  bottom: -10%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: -230px 0 150px 60vw rgba(0, 0, 0, 0.7);
  border-radius: 100%;
}
.timeline .swiper-slide-content {
  position: absolute;
  text-align: center;
  width: 80%;
  max-width: 310px;
  right: 50%;
  top: 13%;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
  font-size: 12px;
  z-index: 2;
}
.timeline .swiper-slide .timeline-year {
  display: block;
  font-style: italic;
  font-size: 42px;
  margin-bottom: 50px;
  -webkit-transform: translate3d(20px, 0, 0);
          transform: translate3d(20px, 0, 0);
  color: #d4a024;
  font-weight: 300;
  opacity: 0;
  transition: .2s ease .4s;
}
.timeline .swiper-slide .timeline-title {
  font-weight: 800;
  font-size: 34px;
  margin: 0 0 30px;
  opacity: 0;
  -webkit-transform: translate3d(20px, 0, 0);
          transform: translate3d(20px, 0, 0);
  transition: .2s ease .5s;
}
.timeline .swiper-slide .timeline-text {
  line-height: 1.5;
  opacity: 0;
  -webkit-transform: translate3d(20px, 0, 0);
          transform: translate3d(20px, 0, 0);
  transition: .2s ease .6s;
}
.timeline .swiper-slide-active .timeline-year {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  transition: .4s ease 1.6s;
}
.timeline .swiper-slide-active .timeline-title {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  transition: .4s ease 1.7s;
}
.timeline .swiper-slide-active .timeline-text {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  transition: .4s ease 1.8s;
}
.timeline .swiper-pagination {
  right: 15% !important;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  z-index: 1;
}
.timeline .swiper-pagination::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}
.timeline .swiper-pagination-bullet {
  width: auto;
  height: auto;
  text-align: center;
  opacity: 1;
  background: transparent;
  color: #d4a024;
  margin: 15px 0 !important;
  position: relative;
}
.timeline .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -32.5px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #d4a024;
  -webkit-transform: scale(0);
          transform: scale(0);
  transition: .2s;
}
.timeline .swiper-pagination-bullet-active {
  color: #d4a024;
}
.timeline .swiper-pagination-bullet-active::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.timeline .swiper-button-next,
.timeline .swiper-button-prev {
  background-size: 20px 20px;
  top: 15%;
  width: 20px;
  height: 20px;
  margin-top: 0;
  z-index: 2;
  transition: .2s;
}
.timeline .swiper-button-prev {
  left: 8%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23d4a024'%2F%3E%3C%2Fsvg%3E");
}
.timeline .swiper-button-prev:hover {
  -webkit-transform: translateX(-3px);
          transform: translateX(-3px);
}
.timeline .swiper-button-next {
  right: 8%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23d4a024'%2F%3E%3C%2Fsvg%3E");
}
.timeline .swiper-button-next:hover {
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
}
@media screen and (min-width: 768px) {
  .timeline .swiper-slide::after {
    right: -30%;
    bottom: -8%;
    width: 240px;
    height: 50%;
    box-shadow: -230px 0 150px 50vw rgba(0, 0, 0, 0.7);
  }
  .timeline .swiper-slide-content {
    right: 30%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 310px;
    font-size: 11px;
    text-align: right;
  }
  .timeline .swiper-slide .timeline-year {
    margin-bottom: 0;
    font-size: 32px;
  }
  .timeline .swiper-slide .timeline-title {
    font-size: 46px;
    margin: 0;
  }
  .timeline .swiper-pagination {
    display: flex;
  }
  .timeline .swiper-button-prev {
    top: 15%;
    left: auto;
    right: 15%;
    -webkit-transform: rotate(90deg) translate(0, 10px);
            transform: rotate(90deg) translate(0, 10px);
  }
  .timeline .swiper-button-prev:hover {
    -webkit-transform: rotate(90deg) translate(-3px, 10px);
            transform: rotate(90deg) translate(-3px, 10px);
  }
  .timeline .swiper-button-next {
    top: auto;
    bottom: 15%;
    right: 15%;
    -webkit-transform: rotate(90deg) translate(0, 10px);
            transform: rotate(90deg) translate(0, 10px);
  }
  .timeline .swiper-button-next:hover {
    -webkit-transform: rotate(90deg) translate(3px, 10px);
            transform: rotate(90deg) translate(3px, 10px);
  }
}
@media screen and (min-width: 1024px) {
  .timeline .swiper-slide::after {
    right: -20%;
    bottom: -12%;
    width: 240px;
    height: 50%;
    box-shadow: -230px 0 150px 39vw rgba(0, 0, 0, 0.7);
  }
  .timeline .swiper-slide-content {
    right: 25%;
  }
}