:root{
	--primary-color:#1e1666;
	--while-color:#fff;
	--text-color:#57647c;
}
.text-while{
	color: #fff !important;
}
/*  */
#carouselExampleIndicators{
	position: relative;
	height: 100vh;
	width: 100%;
	overflow: hidden;
}
#carouselExampleIndicators .carousel-innerr{
	position: relative;
	height: 100%;
	width: 100%;
	background: #000;
}
#carouselExampleIndicators .carousel-innerr:before{
	position: absolute;
	content: '';
	background: rgba(0, 0, 0, 0.45);
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}
#carouselExampleIndicators .carousel-innerr .carousel-item{
	position: relative;
	height: 100%;
	width:100%;
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}
#carouselExampleIndicators .carousel-innerr .carousel-item:nth-child(2){
	background: url('../img/computer/ai-5.png');
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}

#carouselExampleIndicators .carousel-innerr .carousel-item .info{
	position: absolute;
	top: 40%;
	transform: translateY(-50%);
	height: auto;
	z-index: 1;
	text-align: center;
}
#carouselExampleIndicators .carousel-innerr .carousel-item h1{
	height: auto;
	color: #fff;
	z-index: 1;
  	width: 50%;
  	margin-left: 40px;
	font-size: 4.4rem;
	font-weight: 750;
}
#carouselExampleIndicators .carousel-innerr .carousel-item p{
	height: auto;
  margin-left: 40px;
	color: #ccc;
  width: 50%;
  margin-top: 28px;
	z-index: 1;
	font-size: 1.8rem;
	font-weight: 500;
}
.header__menu-options-login {
  width: 190px;
  height: 48px;
  margin: 50px 0 0 200px;
  background-image: linear-gradient(to right, #4ad5e0, #5db1ea 25%, #5784e0 50%);
  /* background-image: linear-gradient(to right,yellow, green, purple,black); */
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  font-size: 1.4rem;
  font-weight: 600;
  transition: all .4s ease-in-out;
  position: relative;
  background-size: 200% 10%;
  will-change: transition;
}

.header__menu-options-login:hover {
  transform: translateY(-5px);
  cursor: pointer;
  background-image: linear-gradient(to left, #4ad5e0, #5db1ea 25%, #5784e0 50%);


  /* background-image: linear-gradient(to left,yellow,green,purple,black ); */
  background-position: 100% 0;
  box-shadow: 6px 6px 16px -2px rgb(82, 177, 227, 0.8);
}

.item__img-1{
	position: absolute;
	top: 36%;
	left: 40%;
	animation: theRight 20s infinite linear;
}
@keyframes theRight{
	0%{
		top: 36%;
		left: 40%;
	}
	50%{
		top: 36%;
		left: 50%;
	}
	100%{
		top: 36%;
		left: 40%;
	}
}
.item__img-2{
	position: absolute;
	top: 0;
	left: 34%;
	animation: theUp 2s linear infinite;
}
@keyframes theUp{
	0%{
		top: 0;
		left: 34%;
	}
	50%{
		top: -18px;
		left: 34%;
	}
	100%{
		top: 0;
		left: 34%;
	}
}
.item__img-3{
	position: absolute;
	top: 48%;
	left: 0;
	animation: roteX infinite 6s linear;
}
@keyframes roteX {
	0%{
		top: 48%;
		left: 0;
	}
	15%{
		top: 49%;
		left: 4px;
	}
	30%{
		top: 50%;
		left: 6px;
	}
	40%{
		top: 51%;
		left: 8px;
	}
	50%{
		top: 52%;
		left: 10px;
	}
	60%{
		top: 51%;
		left: 8px;
	}70%{
		top: 50%;
		left: 6px;
	}
	85%{
		top: 49%;
		left: 4px;
	}
	100%{
		top: 48%;
		left: 0;
	}
}
.item__img-4{
	position: absolute;
	bottom: 10px;
	left: 56%;
	animation: theRight-2 10s linear infinite;
}
@keyframes theRight-2{
	0%{
		bottom: 10px;
		left: 56%;
	}
	50%{
		bottom: 10px;
		left: 60%;
	}
	100%{
		bottom: 10px;
		left: 56%;
	}
}
.item__img-5{
	position: absolute;
	bottom: 0;
	left: 50%;
	animation: theLeft infinite linear 10s;
}
@keyframes theLeft{
	0%{
		bottom: 10px;
		left: 50%;
	}
	50%{
		bottom: 84px;
		left: 40%;
	}
	100%{
		bottom: 10px;
		left: 50%;
	}
}
.item__img-6{
	position: absolute;
	top: -26px;
	width: 50%;
	z-index: -1;
	left: -8%;
	transform: rotate(-90deg);
}
.item-2-img-1{
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	/* animation: rote-O linear 10s infinite; */
}
@keyframes rote-O{
	from{
		transform: rotateY(0)
	}
	to{
		transform: rotateY(360deg);
	}
}
.item-2-img-2{
	position: absolute;
	top: 16%;
	left: 8%;
}
.item-2-img-3{
	position: absolute;
	top: -90px;
	right: 0;
	z-index: 2;
}
.item-2-img-4{
	position: absolute;
	bottom: 0;
	right: -30px;
	z-index: 2;
	width: 40%;
}
/* Customer */
.customer{
	background: url(../img/computer/customer-bg.png) bottom center / cover no-repeat;
}
.customer__header{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.customer__text{

}
.customer__text-1{
	font-size: 4rem;
	font-weight: 600;
	color: var(--primary-color);
	line-height: 4.6rem;
}
.customer__text-2{
	font-size: 1.6rem;
	color: var(--text-color);
	line-height: 2.6rem;
}
.customer__list{
	display: flex;
}
.customer__item{
	display: flex;
	padding: 50px 35px 45px;
	flex-direction: column;
	box-shadow: 0 3px 10px 0 rgb(0 0 0 / 7%);
	margin: 0 10px;
	border-radius: 8px;
}
.customer__item:hover .customer__item-text,
.customer__item:hover .customer__item-link{
	color: var(--while-color);
}
.customer__item:hover{
	transform: translateY(-8px);
	transition: transform linear 0.2s;
	color: var(--while-color);
	background-image: linear-gradient(rgb(171, 42, 98), rgb(206, 63, 231));
}
.customer__item-img{
	width: 30%;
}
.customer__item-link{
	font-size: 2rem;
	line-height: 6rem;
	font-weight: 600;
	color: var(--primary-color);
}
.customer__item-link:hover{
	text-decoration: none;
	color: var(--primary-color);
}
.customer__item-text{
	font-size: 1.5rem;
	color: var(--text-color);
	line-height: 2rem;

}	
/* More */
.more{

}
.more__list{
	display: flex;
	align-items: center;
}
.more__item{
	width: 100%;
}
.more__item-img{
	width: 100%;
	padding: 0 20px;
}
.more__item-heading{
	font-size: 4rem;
	color: var(--primary-color);
	font-weight: 600;
	line-height: 4rem;
}
.more__item-text{
	font-size: 1.6rem;
	color: var(--text-color);
	line-height: 2.8rem;
}
.more__item-body{
	display: flex;
	align-items: center;
}
.more__item-body-icon{
	font-size: 3rem;
	color: var(--primary-color);
	padding-right: 20px;
}
.more__item-body-text{
	font-size: 1.6rem;
	margin-top: 16px;
	color: var(--text-color);
	line-height: 3rem;
}
.more__item-link{
	position: relative;
}
.more__item-link-a{
	display: flex;
	align-items: center;
	float: right;
	position: absolute;
	bottom: 10px;
	right: 60px;
}
.more__btn {
	width: 190px;
	height: 48px;
	margin: 50px 0 0 68px;
	background-image: linear-gradient(to right, #4ad5e0, #5db1ea 25%, #5784e0 50%);
	/* background-image: linear-gradient(to right,yellow, green, purple,black); */
	border-radius: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--white-color);
	font-size: 1.4rem;
	font-weight: 600;
	transition: all .4s ease-in-out;
	position: relative;
	background-size: 200% 10%;
	will-change: transition;
  }
  
  .more__btn:hover {
	transform: translateY(-5px);
	cursor: pointer;
	background-image: linear-gradient(to left, #4ad5e0, #5db1ea 25%, #5784e0 50%);
  
  
	/* background-image: linear-gradient(to left,yellow,green,purple,black ); */
	background-position: 100% 0;
	box-shadow: 6px 6px 16px -2px rgb(82, 177, 227, 0.8);
  }
.more__item-link-a a{
	font-size: 1.6rem;
	font-weight: 600;
	color: #4ad5e0;
}
.more__item-link-a a:hover{
	color: #4ad5e0;
	text-decoration: none;
}
.more__item-link-a-icon{
	color: var(--while-color);
	padding: 2px 4px;
	margin-left: 4px;
	border-radius: 8px;
	background-image: linear-gradient(to right,#03b5a9 0%,#1fbd75 51%,#03b5a9 100%);
}
/* About */
.about{
	background-color: #f4fcfe;
}
.about__item-heading{
	font-size: 4rem;
	color: var(--primary-color);
	font-weight: 600;
	line-height: 4rem;
}
.about__item-text{
	font-size: 1.6rem;
	color: var(--text-color);
	line-height: 3rem;
}
.about__item-btn{
	margin: 30px 0;
}
.about__item-btn-icon{
	font-size: 1.6rem;
	color: var(--while-color);
	padding: 24px 30px;
	border-radius: 50%;
	margin-right: 16px;
	background-image: linear-gradient(to right,#03b5a9 0%,#1fbd75 51%,#03b5a9 100%) ;
}
.about__item-btn-link{
	font-size: 1.6rem;
	color: #4ad5e0;
	font-weight: 600;
}
.about__item-btn-link:hover{
	color: #4ad5e0;
	text-decoration: none;
}
.about__item-img{
	height: auto;
	width: 100%;
}
.about__item-1{
	display: flex;
	align-items: center;
}
.about__item-1:nth-child(2){
	display: flex;
	flex-direction: row-reverse;
}
.about__item-1-list{
	margin-bottom: 20px;
	padding: 22px 44px ;
	border-radius: 12px;
	box-shadow: 0 0 10px rgb(0 0 0 / 7%);
}
.about__item-bg{
	color: var(--while-color);
	background-image: linear-gradient(rgb(171, 42, 98), rgb(206, 63, 231));
}
.about__item-1-header{
	font-size: 1.8rem;
	color: var(--primary-color);
	font-weight: 600;
}
.about__item-1-body{
	font-size: 1.6rem;
	color: var(--text-color);
	line-height: 2.4rem;
}
.about__item-1-tag{
	font-size: 1.4rem;
	color: #616161;
	margin-top: 14px;
}
.about__item-1-img{
	width: 60px;
	margin-left: 18px;
	margin-top: -60px;
	border-radius: 50%;
}
/* Orther */
.orther{
	padding-bottom: 0;
}
.orther__list{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.orther__item:last-child{
	display: flex;
}
.orther__item-header{
	font-size: 4rem;
	margin-left: 60px;
	color: var(--primary-color);
	font-weight: 600;
	line-height: 4rem;
	text-align: center;
}
.orther__item-text{
	font-size: 1.6rem;
	text-align: center;
	color: var(--text-color);
	margin-left: 40px;
	line-height: 3rem;
}
.orther__item-btn {
	width: 190px;
	height: 48px;
	margin: 50px 0 0 282px;
	background-image: linear-gradient(to right, #4ad5e0, #5db1ea 25%, #5784e0 50%);
	/* background-image: linear-gradient(to right,yellow, green, purple,black); */
	border-radius: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--white-color);
	font-size: 1.4rem;
	font-weight: 600;
	transition: all .4s ease-in-out;
	position: relative;
	background-size: 200% 10%;
	will-change: transition;
}  
.orther__item-btn:hover {
	transform: translateY(-5px);
	cursor: pointer;
	background-image: linear-gradient(to left, #4ad5e0, #5db1ea 25%, #5784e0 50%);
  
  
	/* background-image: linear-gradient(to left,yellow,green,purple,black ); */
	background-position: 100% 0;
	box-shadow: 6px 6px 16px -2px rgb(82, 177, 227, 0.8);
}
.orther__item-listt::after,
.orther__item-list::after{
	content: "";
	display: block;
	position: absolute;
	top: -300px;
	left: 0;
	z-index: 1;
	width: 100%;
	opacity: 0;
	height: 100%;
	background-image: linear-gradient(rgb(171, 42, 98), rgb(206, 63, 231));;
}
@keyframes room-{
	from{
		transform: scale(1);
	}
	to{
		transform: scale(0.9);
	}
}
.orther__item-listt:hover::after,
.orther__item-list:hover::after{
	transform: translateY(300px);
	transition: transform 0.3s linear;
	opacity: 0.6;
}
.orther__item-listt,
.orther__item-list{
	overflow: hidden;  
}
/* .orther__item-list:hover{
	animation: room- 0.3s linear;
} */
.orther__item-list:nth-child(1){
	position: relative;
	padding: 180px 0;
	background: url(../img/computer/orther-1.jpg) center center / cover no-repeat;
}
.orther__item-list:nth-child(2){
	position: relative;
	padding: 220px 0;
	background: url(../img/computer/orther-2.jpg) center center / cover no-repeat;
}
.orther__item-listt:nth-child(1){
	position: relative;
	padding: 180px 0;
	background: url(../img/computer/orther-3.jpg) center center / cover no-repeat;
}
.orther__item-listt:nth-child(2){
	position: relative;
	padding: 220px 0;
	background: url(../img/computer/orther-4.jpg) center center / cover no-repeat;
}
.orther__item-listt:nth-child(3){
	position: relative;
	padding: 180px 0;
	background: url(../img/computer/orther-5.jpg) center center / cover no-repeat;
}
.orther__item-listt:nth-child(4){
	position: relative;
	padding: 220px 0;
	background: url(../img/computer/orther-6.jpg) center center / cover no-repeat;
}
.orther__item-item{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 4;
}
.orther__item-listt:hover .orther__item-item,
.orther__item-list:hover .orther__item-item{
	opacity: 1;
}
.orther__item-list-icon{
	position: absolute;
	top: 46px;
	padding: 24px 34px;
	border-radius: 50%;
	background-color: #FFFFFF1A;
	left: 66px;
	font-size: 1.8rem;
	color: var(--while-color);
}
.orther__item-list-title{
	font-size: 1.6rem;
	margin-left: 20px;
	position: absolute;
	top: 200px;
	left: 20%;
	color: var(--while-color);
	text-transform: uppercase;
}
.orther__item-list-header{
	font-size: 3rem;
	position: absolute;
	top: 250px;
	left: 16px;
	z-index: 1;
	color: var(--while-color);
	text-transform: uppercase;
}
/* Orther__more */
.orther__more{
	padding: 0;
}
/* Need */
.need{

}
.need__list{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.need__item-img{
	position: relative;
	width: 100%;
	top: 0;
	right: 0;
	display: block;
}
.need__item-img-2{
	width: 100%;
	height: 100%;
	opacity: 1;
	position: relative;
}
.need__item-img-1{
	position: absolute;
	right: -30%;
	top: 0;
	opacity: 0.6;

}
/* .need__item-img-1::after{
	content: "";
	display: block;
	position: absolute;
	background: url(../img/computer/need-1.jpg);
	background-color: red;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	z-index: 4;
	width: 100%;
	top: 0;
	opacity: 1;
	right: 0;
	height: 100%;
} */
.need__item-heading{
	font-size: 4rem;
	color: var(--primary-color);
	font-weight: 600;
	line-height: 5rem;
}
.need__item-content{
	font-size: 1.6rem;
	color: var(--text-color);
	line-height: 2.8rem;
}
.need__item-item{
	display: flex;
	align-items: center;
	margin-left: -16px;
}
.need__item-item-heading{
	font-size: 1.8rem;
	color: var(--primary-color);
	font-weight: 600;
	line-height: 3rem;
}
.need__item-item-text{
	font-size: 1.5rem;
	color: var(--text-color);
	line-height: 2.8rem;
}
/* Number */
.number{
	padding-top: 0;
}
.number__list{
	display: flex;
	align-items: center;
}
.number__item-number{
	display: flex;
}
.number__item-num{
	font-size: 5.6rem;
	color: #03b5a9;
	font-weight: 600;
	margin-left: 60px;
}
.number__item-current{
	font-size: 2.4rem;
	color: #03b5a9;
	vertical-align: text-top;
}
.number__item-text{
	font-size: 1.6rem;
	color: #1e1666;
	font-weight: 600;
	margin-left: 40px;
}
/* Team */
.team{
	background-color: #f4fcfe;
}
.team__heading{
	font-size: 4rem;
	color: var(--primary-color);
	font-weight: 600;
	line-height: 3rem;
	text-align: center;
}
.team__text{
	font-size: 1.5rem;
	color: var(--text-color);
	line-height: 2.8rem;
	text-align: center;
	padding: 30px 0 20px;
}
.team__list{
	display: flex;
	align-items: center;
	width: 100%;
}
.team__item{
	width: 100%;
	padding: 10px;
	margin: 0 4px;
}
.team__item:hover .team__item-img-icon{
	transform: scale(1.1);
	transition: transform ease 0.4s;
}
.team__item-img{
	width: 100%;
	position: relative;
	overflow: hidden;
	border: 8px solid #fff;
	border-radius: 100%;
    box-shadow: 0 5px 24px 6px rgb(2 2 66 / 8%);
}
.team__item-img-icon{
	width: 100%;
	
}
.team__item-icon{
	position: absolute;
	bottom: 24%;
	left: 38%;
	padding: 18px 24px;
	color: var(--while-color);
	font-weight: 600;
	font-size: 1.5rem;
	border-radius: 50%;
	background-image: linear-gradient(rgb(171, 42, 98), rgb(206, 63, 231));
}
.team__item-heading{
	font-size: 2rem;
	margin-top: 60px;
	text-align: center;
	color: var(--primary-color);
	font-weight: 600;
}	
.team__item-text{
	text-align: center;
	font-size: 1.5rem;
	color: var(--text-color);
}
/* Our */
.our{

}
.our__heading{
	font-size: 4rem;
	color: var(--primary-color);
	font-weight: 600;
	line-height: 6rem;
	text-align: center;
}
.our__text{
	font-size: 1.6rem;
	color: var(--text-color);
	line-height: 2.8rem;
	text-align: center;
	margin-bottom: 40px;
}
.our__list{

}
.our__item:first-child{
	color: var(--while-color);
	background-color: var(--primary-color);
}
.our__item{
	font-size: 1.8rem;
	color: #1e1666;
	font-weight: 600;
	background-color: #e9f8fe;
	padding: 13px 0;
	margin: 0 8px;
	min-width: 180px;
	border-radius: 14px;
	text-align: center;
}
.our__item:hover{
	text-decoration: none;
	color: var(--while-color);
	background-color: var(--primary-color);
}
.our__list-2{
	display: flex;
	align-items: center;
}
.our__item-2{
	width: 100%;
	padding: 0 20px;
}
.our__item-2-img{
	width: 100%;
}
.our__item-2-heading{
	font-size: 3rem;
	color: var(--primary-color);
	font-weight: 600;
	line-height: 6rem;
}
.our__item-2-text{
	font-size: 1.6rem;
	color: var(--text-color);
	line-height: 2.8rem;
}
.our__item-2-list{
	list-style: none;
	padding: 0;
}
.our__item-2-item{
	padding: 6px 0;
}
.our__item-2-icon{
	font-size: 1rem;
	color: #cc2b5e;
	padding-right: 8px;
}
.team__item-btn {
	width: 190px;
	height: 48px;
	margin: 20px 0 0 8px;
	background-image: linear-gradient(to right, #4ad5e0, #5db1ea 25%, #5784e0 50%);
	/* background-image: linear-gradient(to right,yellow, green, purple,black); */
	border-radius: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--white-color);
	font-size: 1.4rem;
	font-weight: 600;
	transition: all .4s ease-in-out;
	position: relative;
	background-size: 200% 10%;
	will-change: transition;
}  
.team__item-btn:hover {
	transform: translateY(-5px);
	cursor: pointer;
	background-image: linear-gradient(to left, #4ad5e0, #5db1ea 25%, #5784e0 50%);
  
  
	/* background-image: linear-gradient(to left,yellow,green,purple,black ); */
	background-position: 100% 0;
	box-shadow: 6px 6px 16px -2px rgb(82, 177, 227, 0.8);
}
/* Post */
.post__header{
    display: flex;
    justify-content: space-between;
}
.post__heading{
    font-size: 4rem;
    color: #1e1666;
    font-weight: 700;
    line-height: 6rem;
}
.post__list{
    display: flex;
    width: 100%;
}
.post__item{
    width: 20%;
    list-style: none;
    padding: 20px 15px 0;
    position: relative;
}
.post__item-img{
    position: relative;
    border-radius: 8px;
    display: block;
    overflow: hidden;
}
.post__item-imgg{
    width: 100%;
    position: relative;
    border-radius: 8px;
    max-width: 100%;
    transition: all 0.4s cubic-bezier(.215,.61,.355,1);
}
.post__item-imgg:hover{
    transform: scale(1.1);
}
.post__item-btn{
    width: 190px;
    display: flex;
    padding: 4px 0;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    position: relative;
    background-size: 200% 10%;
    overflow: hidden;
    transform: translateY((-5px));
    left: 0;
    top: 16px;
}
.btn__slider-2{
    position: absolute;
    transform: translateX(0);
    width: 200%;
    height: 100%;
    transition: transform ease-in-out 0.3s;
    background: linear-gradient(to right,#4ad5e0,#4ad5e0,#194cb3);
    will-change: transition;
}
.post__item-btn:hover .btn__slider-2{
    transform: translateX(-90px);
    cursor: pointer;
}
.post__item-btn:hover{
    cursor: pointer;
}
.post__item-btn-link{
    font-size: 1.3rem;
    color: #fff;
    z-index: 10;
    font-weight: 500;
}
.post__item-btn a:hover{
    text-decoration: none;
    color: #fff;
}
.post__item--heading h1{
    position: relative;
    display: inline-block;
}
.post__item--heading h1::after{
    display: block;
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 0%;
    transition: width 0.6s;
    transition-property: width;
    height: 1px;
    background-color: #1e1666;
}
.post__item--heading h1::before{
    display: block;
    position: absolute;
    content: "";
    top: 100%;
    left: 22px;
    width: 0%;
    transition: width 1.3s;
    transition-property: width;
    height: 1px;
    background-color: #1e1666;
}
.post__item--heading h1:hover{
    text-decoration: none;
}
.post__item--heading h1:hover::before,
.post__item--heading h1:hover::after{
    width: 86%;
}
.post__item--heading h1{
    font-size: 2.4rem;
    font-weight: 600;
    color: #1e1666;
    line-height: 3.6rem;
	text-align: center;
}
.post__item--list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post__item--item-author{
    width: 46px;
    height: 46px;
    margin: 0 4px 0 0;
}
.post__item--item:last-child{
    display: flex;
}
.post__item--item-name{
    font-size: 1.5rem;
    color: #57647C;
}
.post__item--item a:hover{
    color: #57647C;
    text-decoration: none;
}
.post__item--item-2,
.post__item--item-1{
    padding: 0 4px;
    color: #57647C;
}
.post__item-text{
	text-align: center;
	color: var(--text-color);
	line-height: 2.8rem;
	margin-bottom: 40px;
}
.post__item .post__item-link{
	margin-left: 36%;
	color: #cc2b5e;
	font-weight: 600;
	font-size: 1.5rem;
	text-decoration: underline;
}
.post__item-link:hover{
	color: #cc2b5e !important;
}
.post__item-end{
	display: flex;
	align-items: center;
	color: #03b5a9;
}
.post__item-end--link{
	color: #03b5a9;
	font-size: 1.6rem;
	font-weight: 600;
	margin-right: 4px;
}
.post__item-end-icon{
	color: #03b5a9;
}
.post__item-end--link:hover,
.post__item-end-icon:hover{
	color: #03b5a9;
	text-decoration: none;
}
/* News */
.news{
	background: url(../img/computer/news-bg.png) center / cover no-repeat;
}
.news__heading{
	font-size: 3.6rem;
	color: var(--primary-color);
	font-weight: 600;
	line-height: 4rem;
	text-align: center;
}
.news__in{
	text-align: center;
	max-width: 700px;
	margin: 60px 0 0 0;
	position: relative;
}
::placeholder{
	color: #616d84;
}
.news__input{
	text-align: center;
	padding: 20px;
	outline: none;
	width: 100%;
	margin-left: 100px;
	border-radius: 20px;
	border: none;

}
.news__item-btn {
	width: 190px;
	height: 48px;
	margin: -58px 0 0 90%;
	background-image: linear-gradient(to right, #4ad5e0, #5db1ea 25%, #5784e0 50%);
	/* background-image: linear-gradient(to right,yellow, green, purple,black); */
	border-radius: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--white-color);
	font-size: 1.4rem;
	font-weight: 600;
	transition: all .4s ease-in-out;
	position: relative;
	background-size: 200% 10%;
	will-change: transition;
}  
.news__item-btn:hover {
	transform: translateY(-5px);
	cursor: pointer;
	background-image: linear-gradient(to left, #4ad5e0, #5db1ea 25%, #5784e0 50%);
  
  
	/* background-image: linear-gradient(to left,yellow,green,purple,black ); */
	background-position: 100% 0;
	box-shadow: 6px 6px 16px -2px rgb(82, 177, 227, 0.8);
}
.news__img-1{
	position: absolute;
	top: 0;
	right: -58%;
	animation: move-Up linear infinite 10s;
}
@keyframes move-Up{
	0%{
		top :0;
		right: -58%;
	}
	50%{
		top: -100px;
		right: -58%;
	}
	100%{
		top: 0;
		right: -58%;
	}
}
.news__img-2{
	position: absolute;
	top: 40px;
	left: -10%;
	animation: move-Right linear infinite 12s;
}
@keyframes move-Right{
	0%{
		top :40px;
		left: -10%;
	}
	50%{
		top: -60px;
		left: 10%;
	}
	100%{
		top :40px;
		left: -10%;
	}
}
.news__img-3{
	position: absolute;
	bottom: 0;
	left: 66%;
	animation: move-Left linear infinite 18s;
}
@keyframes move-Left{
	0%{
		bottom: 0;
		left: 66%;
	}
	50%{
		bottom: 0;
		left: 30%;
	}
	100%{
		bottom: 0;
		left: 66%;
	}
}
.news__img-4{
	position: absolute;
	bottom: -12px;
	left: 67%;
	animation: move-Right-2 linear infinite 18s;
}
@keyframes move-Right-2{
	0%{
		bottom: -12px;
		left: 67%;
	}
	50%{
		bottom: -12px;
		left: 96%;
	}
	100%{
		bottom: -12px;
		left: 67%;
	}
}